<div id="selfieDiv" class="col-sm-3">
  <%= image_tag("AaronPhoto.jpg", :id => "selfie") %>
</div>
<div>
<h2>About me</h2>
<p>I would love to say I've been coding for my whole life, but that just isn't true.
I had never written a line of code until high school when I decided I wanted to try and
simulate a baseball game on the computer. At first I tried to do this in Microsoft Excel,
but quickly I realized that I needed something more powerful, so I turned to C++. For the next
few weeks, I proceeded to thoroughly enjoy writing most confusing, least object-oriented code
the world has ever seen. I wish I still had that code so I could show people how bad it was.
Just imagine layers of loops 4 and 5 levels deep, code duplicated all over the place, a
million global variables just floating around aimlessly.</p>
<p>Anyway, as it turned out, this initial experience was not enough to motivate me to pursue coding
in college, and so I majored in music and chemistry instead at Macalester College. During this time
I started getting into music production, and after graduating I decided to go to NYU to get a Master's
degree in Music Technology.</p>
<p>As it turned out, music technology involves a lot of coding, and during my time at NYU
my enthusiasm for programming resurfaced and grew with every day. In the spring of 2016, I
defended my Master's thesis at NYU. My thesis involved the digital synthesis of room impulse
responses based on real world recordings, with the aim of providing music producers with a more
flexible experience when using convolution reverb. I plan on developing this into a
commercial plugin, so I can't make the source code available, but other music-related projects
can be found on my <%= link_to "GitHub page", "https://github.com/Add9Sus4", :target => "_blank" %>.</p>
<p>When I'm not writing code, I enjoy playing sports - particularly, baseball
and basketball. I was never a great baseball player, but in my last year of legion ball in 2011 I got
a chance to face <%= link_to "Chris Kirsch", "http://www.milb.com/player/index.jsp?player_id=594884#/", :target => "_blank"%>,
a pitcher who would go on to be drafted in the 14th round of the 2012 MLB Draft. To this day, that game
remains one of my best memories, as I somehow managed to go 1-2 with a walk, single, and stolen base against him.</p>
<p>I also enjoy producing electronic music, and in 2013 started a collaboration with fellow producer Britian
Holcomb on a project called Crystal Skies. We probably would have stopped working together, but our debut
track, <%= link_to "Paradise Lost", "https://soundcloud.com/dubstep/paradise-lost-by-crystal-skies", :target => "_blank" %>,
did really well on Soundcloud, quickly gaining almost 100,000 plays and reaching #1 for the month on
the Dubstep.net charts. Since then, we've released two EPs and are currently working on a third,
as well as a number of original tracks and remixes. Two other tracks have reached 100,000 plays on
our page: our <%= link_to "remix", "https://soundcloud.com/crystalskies/hellberg-the-girl-feat-cozi-zuehlsdorff-crystal-skies-remix", :target => "_blank" %>
of Hellberg's "The Girl", and our <%= link_to "remix", "https://soundcloud.com/crystalskies/illenium-with-you-ft-quinn-xcii-crystal-skies-remix", :target => "_blank" %>
of Illenium's "With You".</p> I also recently completed an official
<%= link_to "sample pack", "http://www.zenhiser.com/luminous-sample-pack-library.html", :target => "_blank" %>
for Zenhiser, containing the audio stems for 20 full original songs. At 10 GB of total audio, it was
without a doubt one of the most challenging things I've done, but I grew a lot as a producer during
the process, and hope to do more work like this in the future.
</div>

<style media="screen">
  #selfie {
    float: left;
    width: 100%;
  }
</style>

<script type="text/javascript">
$(".nav").find(".active").removeClass("active");
$(".nav").find("#about").addClass("active");
</script>
