<h2>How to contact me</h2>
<p>Feel free to shoot me an email at adawson927@gmail.com or hit me up on the following sites:</p>
<p><%= link_to "Facebook", "https://www.facebook.com/aaron.dawson.902", :target => "_blank" %></p>
<p><%= link_to "Twitter", "https://twitter.com/ItsCrystalSkies", :target => "_blank" %></p>
<p><%= link_to "LinkedIn", "https://www.linkedin.com/in/dawsonaaron", :target => "_blank" %></p>
<p><%= link_to "GitHub", "https://github.com/Add9Sus4", :target => "_blank" %></p>
<p><%= link_to "SoundCloud", "https://soundcloud.com/crystalskies", :target => "_blank" %></p>
<p><%= link_to "YouTube", "https://www.youtube.com/channel/UCrU7NFCXQXT_sQ1-icRPcLA", :target => "_blank" %></p>
<p><%= link_to "WordPress", "https://add9sus4.wordpress.com/", :target => "_blank" %></p>
<script type="text/javascript">
$(".nav").find(".active").removeClass("active");
$(".nav").find("#contact").addClass("active");
</script>
