<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script type='text/javascript' src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js'></script> -->
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div><title>Add9 Music and Coding</title></div>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container-fluid">
    <div id="leftSide" class="col-sm-2">
      <div id="logoDiv">
        <%= image_tag("crystalskies.jpg", :id => "logo") %>
        <br><br><p class="textOnDarkBackground">adawson927@gmail.com</p>
        <hr/>
      </div>

      <div id="sidebar" class="textOnDarkBackground">
        <h4><strong>Social media links:</strong></h4>
        <div id="share"></div>
        <p><%= link_to "Facebook", "https://www.facebook.com/aaron.dawson.902", :target => "_blank" %></p>
        <p><%= link_to "Twitter", "https://twitter.com/ItsCrystalSkies", :target => "_blank" %></p>
        <p><%= link_to "GitHub", "https://github.com/Add9Sus4", :target => "_blank" %></p>
        <p><%= link_to "SoundCloud", "https://soundcloud.com/crystalskies", :target => "_blank" %></p>
        <p><%= link_to "WordPress", "https://add9sus4.wordpress.com/", :target => "_blank" %></p>
<hr/>
        <h4><strong>Project links:</strong></h4>
        <div id="currentlyWorkingOn">
          <li><%= link_to "Baseball Simulation", pages_software_path %></li>
          <!-- <li><%= link_to 'download', pages_download_url %></li> -->
          <li><%= link_to "NYU Master's Thesis", "https://add9sus4.wordpress.com/nyu-masters-thesis/", :target => "_blank" %>
          <li><%= link_to "Drum Designer (VST/AU plugin currently in development)", pages_plugins_path %></li>
        </div>
      </div>
    </div>
    <div id="mainDiv" class="col-sm-10 darkBackground">
      <div id="title" class="textOnMediumBackground"><h1>Add9 Music and Coding</h1></div>
      <div class="myNav"><%= render "shared/nav" %></div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <body class="mediumBackground">
        <div id="content" class="lightBackground">
        <%= yield %>
        </div>
      </body>
      <div class="myNav"><%= render "shared/nav" %></div>
    </div>
  </div>

  <!-- <%= debug(params) if Rails.env.development? %> -->

<style media="screen">

hr {
  border-color: #bdccdb;
  margin-right: 15px;
  margin-left: -10px;
}

.textOnDarkBackground {
  color: #bdccdb;
}

.textOnDarkBackground a {
  color: #90b3d5;
}

.textOnMediumBackground {
  color: #b5cce3;
}

.darkBackground {
  background-color:	#3a5a78;
}

.mediumBackground {
  background-color: #192734;
}

.lightBackground {
  background-color: #bacdde;
}

#currentlyWorkingOn li {
  padding-bottom: 15px;
}


#mainDiv {
  border-left: 2px solid #11263b;
  border-bottom: 2px solid #11263b;
  box-shadow: -5px 4px 10px -4px #11263b;
  border-right: 2px solid #11263b;
}

#logo {
  width:100%;
  padding-top: 20px;
  padding-right: 5px;
  margin-left: -10px;
  /*-webkit-mask-image:-webkit-radial-gradient(circle, rgba(0,0,0,1), rgba(0,0,0,0));*/
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  min-height: 600px;
  border-radius: 3px;
}

#title {
  margin-top: -5px;
  color: #bacdde;
  text-shadow: 3px 3px 5px #192734;
}
.scrollable-div {
  overflow: scroll;
  height: 500px;
}
.scrollable-div2 {
  overflow: scroll;
  height: 390px;
}
.title_image {
  width:64%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
</style>

</html>
